 <html>
    <head>
        <title>Reelbid</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Reelbid</h1>
            </div>
            <div id="content">
                Starting to accept bids now based on your <strong>{{name}}</strong> ({{email}})!
            </div>
            <div class="title">
            </div>
            </div>
        </div>
    </body>
</html>

